<h1><%= question_header(@question) %></h1>

<%= form_with model: @question, local: true do |form| %>
  <%= form.label :body %>
  <%= form.text_field :body %>

  <%= form.submit %>
<% end %>

<%= render 'back' %>
