<h1>Создать бейдж</h1>

<%@titles = ['За пройденный уровень', 'За пройденную категорию', 'За успешную первую попытку']%>
<%@rules = ['level', 'category', 'successful_first_try']%>
<%@rule_values = ["1", "2", "3", "4", "5", 'успешная первая попытка']%>

<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>
  
  <%= form.label :title %>
  <%=form.select(:title, @titles.map { |title| [ title, title ] })%><br>

  <%= form.label :rule_value %>
  <%=form.select(:rule_value, @rule_values.map { |title| [ title, title ] })%><br>
    
  <%= form.label :picture %>     
  <%= form.select :picture, {"1" => 'third.jpg', 
                            "2" => 'second.jpg',
                            "3" => 'second.jpg',
                            "4" => 'second.jpg',
                            "5" => 'first.jpg',
                            "Логические" => 'logic.png',
                            "Академические" => 'academic.png',
                            "Успешная первая попытка" => 'excellence.jpeg'} %><br>

  <%= form.label :rule %> 
  <%= form.select :rule, @rules.map  { |rule| [ rule, rule ] }%>

  <%= form.submit %>
<% end %>
