<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p><%= link_to t('.back'), tests_path %></p>

<p><%= t('.correct_questions', correct_questions: @test_passage.correct_questions) %></p>
<p><%= t('.correct_percentage', correct_percentage: @test_passage.correct_percentage) %></p>

<p>
  <span
    class="result <%= @test_passage.successful? ? 'success' : 'fail' %>"
  >
    <% if @test_passage.successful? %>
      <%= t('.success', user_name: current_user.name)%>
    <% else %>
      <%= t('.failure', user_name: current_user.name)%>
    <% end %>
  </span>
</p>
