<h1><%= "Ответы к вопросу #{@question.body} " %></h1>

<table>
  <tr>
    <th>Ответ</th>
    <th colspan='2'>Действие</th>
  </tr>
  
  <%= render @answers %>
</table>

<p>
<strong><%= link_to "Добавить новый ответ", new_admin_test_question_answer_path %></strong>
</p>

<p>
  <%= link_to 'Назад к вопросу', admin_test_question_path(@test, @question) %>
</p>

<p>
  <%= link_to 'Назад к тестам', admin_tests_path %>
</p>
