<tr>
  <td><%= question.body %></td><br>
  <td><%= button_to 'Посмотреть вопрос', admin_test_question_url(@test, question), method: :get %></td>
  <td><%= button_to 'Посмотреть ответы', admin_test_question_answers_url(@test, question), method: :get %></td>
  <td><%= button_to 'Добавить ответ', new_admin_test_question_answer_path(test_id: @test.id, question_id: question.id), method: :get %></td>
  <td><%= button_to 'Редактировать вопрос', edit_admin_test_question_path(@test, question), method: :get %></td>
  <td><%= button_to 'Удалить вопрос',
                                    admin_test_question_path(@test, question),
                                    method: :delete,
                                    data: { confirm: 'Are you sure?' } %>
</tr>

