<h1><%= question_header(@question) %></h1>

<%= form_with model: [:admin, @question], local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>

  <%= form.label :body %>
  <%= form.text_field :body %>

  <%= form.submit %>
<% end %>

<p>
  <strong><%= link_to t('.see_answers'), admin_question_answers_path(question_id: @question.id) %></strong>
</p>

<%= render 'back' %>
