<h1><%= @question.body %></h1>

<ul>
  <li><%= link_to 'Редактировать вопрос', edit_admin_question_path(@question) %></li>
  <li><%= link_to 'Удалить вопрос',
                  admin_question_path(@question),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }  %></li>
  <li><%= link_to 'Добавить ответ', new_admin_question_answer_path(question_id: @question.id) %></li>
</ul>

<table class="table">
  <tbody>
    <tr>
      <th><%= t('.body') %></th>
      <th><%= t('.correct') %></th>
      <th colspan='2'><%= t('.actions') %></th>
    </tr>

    <%= render @question.answers %>
  </tbody>
</table>

<%= render 'back' %>

