<tr>
  <td class="align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td><br>
  <td class="align-middle"><%= test_level(test) %></td><br>
  <td class="align-middle"><%= test.questions.count %></td><br>
  <td class="align-middle"><%= test.countdown %></td><br>
  <td class="align-middle"><%= link_to t('.show_test'), admin_test_path(test) %></td><br>
  <td class="align-middle">
    <%= link_to t('.edit_test'), 
                edit_admin_test_path(test),
                data: { test_id: test.id },
                class: 'form-inline-link' %>
  </td><br>
  <td class="align-middle">
    <%= link_to t('.delete_test'),
                  admin_test_path(test),
                  method: :delete,
                  data: { confirm: t('.are_you_sure') } %>
  </td><br>
</tr>
