<p>
  <strong><%= Test.human_attribute_name('title') %></strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= Test.human_attribute_name('level') %></strong>
  <%= @test.level %>
</p>

<p>
  <strong><%= Test.human_attribute_name('author') %></strong>
  <%= @test.author.name %>
</p>

<p>
  <strong><%= Test.human_attribute_name('countdown') %></strong>
  <%= @test.countdown %>
</p>

<p>
  <strong><%= link_to t('.show_questions'), admin_test_questions_path(test_id: @test.id) %></strong>
</p>

<p>
  <strong><%= link_to t('.create_question'), new_admin_test_question_path(test_id: @test.id) %></strong>
</p>

<%= render 'back' %>


