<p>
  <strong>Название:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Уровень:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Вопросы:</strong>
  <table>
    <tr>
      <td>
        <%@test.questions.each do |q| %>
          <li><%= link_to q.body, q %></li>
        <% end %>
      </td><br>
    </tr>
  </table>
</p>

<p>
  <strong><%= link_to "Создать новый вопрос", new_test_question_path(test_id: @test.id) %></strong>
</p>


<%= link_to 'Назад', tests_path %>
